<table class="table border-top">
  <colgroup>
    <col style="width: 45px;">
    <col style="width: 170px;">
    <col style="width: 70px;">
    <col style="width: 70px;">
    <col style="width: 70px;">
    <col style="width: 110px;">
    <col style="width: 90px;">
    <col style="width: 90px;">
    <col style="width: 90px;">
    <col style="width: 80px;">
    <col style="width: 70px;" *ngFor="let gpuIdx of [0,1,2,3,4,5,6,7,8,9,10,11]">
    <col style="width: 73px;">
  </colgroup>
  <tbody>
  <ng-template ngFor let-group="$implicit" [ngForOf]="pcList" let-item>
    <tr [statusClass]="{type:'tr', status: item.minerStatus}" [checkedHighLight]="{ checkedIndex: selectedList.indexOf(item.id), status: item.minerStatus }">
      <td class="al_center">
        <div (click)="updateCheckBox(item.id, $event)" [ngClass]="{'checked':selectedList.indexOf(item.id) >= 0}"
             class="icheckbox_square-black" style="position: relative;">
          <input checked="" class="i-checks" names="row" style="position: absolute; opacity: 0;" type="checkbox">
          <ins class="iCheck-helper cust-checkbox"></ins>
        </div>
      </td>
      <td (click)="openPcPopup(item, 'INFO')">
        <a class="pc_list_name"> {{ item.hostname }} </a>
      </td>
      <td> {{ item.gpuType }}</td>
      <td> {{ item.gpuCount }} / {{ thresholdMap.has(item.id) ? thresholdMap.get(item.id).gpuNum : 0}}</td>
      <td> {{ pcIDPlugMap.has(item.id) ? 'Y' : 'N' }}</td>
      <td>
        <table class="cust-inner-table">
          <tr *ngFor="let miner of pcIdNMinersMap.get(item.id)">
            <td [innerHtml]="minerStatMap.get(miner.id) | hashSum"></td>
          </tr>
        </table>
      </td>
      <td [statusClass]="{type: 'td', status: item.minerStatus}"> {{ item.minerStatus | displayMinerStatus }}</td>
      <td> {{ item.minerRestartCount }}</td>
      <td> {{ item.rebootCount }}</td>
      <td (click)="openPcPopup(item, 'MINER_ERROR')" [ngClass]="{'warning_txt': item.minerErrorCount > 0}"> {{ item.minerErrorCount }}</td>
      <td *ngFor="let gpuIdx of [0,1,2,3,4,5,6,7,8,9,10,11]">
        <table class="cust-inner-table">
          <tbody>
          <tr *ngFor="let miner of pcIdNMinersMap.get(item.id)">
            <td [innerHtml]="getGpuStat(miner.id, gpuIdx)" [statusClass]="{type: 'gpu', map: minerGpuStatMap, id: miner.id, gpuIdx: gpuIdx}"></td>
          </tr>
          <tr>
            <td [statusClass]="{type: 'temp', map: pcIDGpuStatusMap, id: item.id, gpuIdx: gpuIdx}">{{ getGpuStatusTemp(item.id, gpuIdx)}}</td>
          </tr>
          <tr>
            <td>{{ getGpuStatusFan(item.id, gpuIdx)}}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <div class="top_control button_wrapper">
          <a [routerLink]="['/miner-manager/macAddr', item.mac_address]"
             [queryParams]="{ factoryName: factoryIDMap.get(item.factory_id).name,  minerName: item.hostname }" target="_blank">
            <button class="btn-mine" type="button">오버</button>
          </a>
        </div>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
