<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-content al_left">
      <div class="jtbl_area min_err">
        <div *ngIf="errorMsgList.length > 0; then SHOW_MINER_ERROR_LOGS else SHOW_DEFAULT_MESSAGE"></div>
        <ng-template #SHOW_MINER_ERROR_LOGS>
        <table class="table">
          <colgroup>
            <col style="width: 150px;">
            <col style="width: 100px;">
            <col style="width: 208px;">
          </colgroup>
          <thead>
          <tr>
            <th>발생시각</th>
            <th>GPU No.</th>
            <th>사유</th>
          </tr>
          </thead>
        </table>
        <div class="jtbl_wrap">
          <table class="table">
            <colgroup>
              <col style="width: 150px;">
              <col style="width: 100px;">
              <col style="width: 208px;">
            </colgroup>
            <tbody>
            <tr *ngFor="let errorMsg of errorMsgList">
              <td>{{ getTimeStamp(errorMsg) | date: 'yyyy-MM-dd HH:mm:ss' : '+0900' }}</td>
              <td>{{ extractErrorGpuNoByRegex(errorMsg.Message) }}</td>
              <td>Watch Dog</td>
            </tr>
            </tbody>
          </table>
        </div>
        </ng-template>
        <ng-template #SHOW_DEFAULT_MESSAGE>
          <div class="empty_miner_err">
            현재까지 마이너 에러가 발생하지 않았습니다.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
